/* PRHONE Amateur | Romel Pérez (romelperez.github.io) */

/* -------------------------------------------------------------------------- */
/* APPLICATIONS */

/*.app-header {
  display: block;
  width: 96%;
  margin: 10px auto;
}

.app-header h1 {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #01FFFF;
}
.app-header h1:before {
  content: "~#";
  margin-left: -10px;
  margin-right: 10px;
}

.app-header .home {
  display: inline-block;
  float: right;
  margin: 10px 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #01FFFF;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.app-header .home:hover,
.app-header .home:focus,
.app-header .home:active {
  color: #00A3FF;
}*/

.app > section {
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 1px solid #075A5A;
}



/* -------------------------------------------------------------------------- */
/* INTERACTIVITY */

/*.app-header h1,
.app-header .home {
  display: none;
}

.fullwidth .gear {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}*/


/* -------------------------------------------------------------------------- */
/* CONTENT */

/*header h2 {
  font-size: 22px;
  font-weight: bold;
}

h2, header h2 {
  margin-bottom: 0;
  color: #A6F4FF;
  text-shadow: 0 0 30px #79fdff;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

h2:hover, h2:focus,
header h2:hover, header h2:focus {
  color: #00A3FF;
  text-shadow: 0 0 20px #00CCFF;
}

h3 {
  font-weight: normal;
}*/
