.corner {
  background: url(../img/cornersprite.png) no-repeat;
  display: block;
  position: absolute;
  z-index: 999;
}

.largeplus { width: 71px; height: 71px; }
.largeplus-tl { top: -32px; left: -32px; }
.largeplus-tr { top: -32px; right: -32px; background-position: -71px 0; }
.largeplus-bl { bottom: -32px; left: -32px; background-position: -142px 0; }
.largeplus-br { bottom: -32px; right: -32px; background-position: -213px 0; }

.innercontainer {
  position: relative;
  border: solid 1px #17485a;
  margin: 10px auto;
  padding: 10px;
}
