/*!
 * PRHONE Amateur | Frontend | Design
 * Romel Pérez, 2014
 **/

.container {
  width: 96%;
  max-width: 1200px;
  margin: 10px auto;
}

h3 {
  margin: 20px 0 10px 0;
}

#frontend .innercontainer {
  display: inline-block;
  margin: 20px;
  padding: 0;
}

#frontend .innercontainer img {
  width: 100%;
  height: 100%;
  max-width: 240px;
}

#frontend .innercontainer a {
  opacity: 0.6;
  transition: opacity 1s ease 0s;
}
#frontend .innercontainer a:hover,
#frontend .innercontainer a:focus,
#frontend .innercontainer a:active {
  opacity: 1;
}
