/*!
 * PRHONE Amateur | Frontend | CSS3 | Design
 * Romel Pérez, 2014
 **/

/* -------------------------------------------------------------------------- */
/* AESTHETICS */

.block {
  display: block !important;
}

.inlblo {
  display: inline-block !important;
}

.box {
  display: block;
  margin: 20px;
  width: 300px;
  height: 120px;
}

.boxbig {
  display: block;
  width: 600px;
  height: 300px;
  margin: 20px;
}

.gray {
  background-color: #DDD;
}

.black {
  background-color: #222;
}

.red {
  background-color: #D22;
}

.green {
  background-color: #2D2;
}

.blue {
  background-color: #22D;
}

.cyan {
  background-color: #2DD;
}

.purple {
  background-color: #D2D;
}

.yellow {
  background-color: #DD2;
}


/* -------------------------------------------------------------------------- */
/* CSS3 */

#border-radius {
  -moz-border-radius: 10px 0 20px 60px;
  -webkit-border-radius: 10px 0 20px 60px;
  border-radius: 10px 0 20px 60px;
}

#box-shadow {
  -moz-box-shadow: 0 0 40px 10px #00FC1E;
  -webkit-box-shadow: 0 0 40px 10px #00FC1E;
  box-shadow: 0 0 40px 10px #00FC1E;
}

#text-shadow {
  display: inline-block;
  margin: 20px;
  font-size: 30px;
  -moz-text-shadow: 2px 2px 40px #64D4FF;
  -webkit-text-shadow: 2px 2px 40px #64D4FF;
  text-shadow: 2px 2px 40px #64D4FF;
}

#multiple-backgrounds-images {
  margin: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: url("../../../img/frontend/device.png") no-repeat left top,
              url("../../../img/frontend/processor.png") repeat-x left bottom;
}

#opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  /* IE8 */
  filter: alpha(opacity=70);  /* IE5-7 */
  opacity: 0.7;
}

#opacity-rgba {
  background-color: rgb(255, 160, 20);  /* Fallback */
  background-color: rgba(255, 143, 0, 0.7);
}


/* ------------ */
/* Transiciones */

#transition-basic {
  background-color: #B4B;
  -moz-transition: background-color 1s ease 0s;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}
#transition-basic:hover {
  background-color: #F0F;
}

#transition-multiple {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  background-color: #DD2;
  -moz-transition: color 1s ease 0s, background-color 1s ease 0s;
  -webkit-transition: color 1s ease 0s, background-color 1s ease 0s;
  transition: color 1s ease 0s, background-color 1s ease 0s;
}
#transition-multiple:focus,
#transition-multiple:hover {
  color: #00F;
  background-color: #2D2;
}

#transition-effect {
  width: 300px;
  height: 100px;
  margin: 10px;
  background: #2DD;
  -moz-transition: all 1s ease-in .3s;
  -webkit-transition: all 1s ease-in .3s;
  transition: all 1s ease-in .3s;
}
#transition-effect:hover {
  width: 400px;
  height: 140px;
  margin-left: 40px;
  border-radius: 30px;
  background: #0FF;
}


/* ---------------- */
/* Transformaciones */

#transform-scale {
  margin-left: 80px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #BB4;
  -moz-transition: -webkit-transform 1s ease-in-out 0s;
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;

  -moz-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
#transform-scale:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);

  -moz-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

#transform-rotate {
  margin-left: 80px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #B44;
  -moz-transition: -webkit-transform 1s ease 0s;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
}
#transform-rotate:hover {
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#transform-skewX,
#transform-skewY,
#transform-skew {
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
#transform-skewX:hover {
  -moz-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
#transform-skewY:hover {
  -moz-transform: skewY(20deg);
  -webkit-transform: skewY(20deg);
  transform: skewY(20deg);
}
#transform-skew:hover {
  -moz-transform: skew(20deg, 20deg);
  -webkit-transform: skew(20deg, 20deg);
  transform: skew(20deg, 20deg);
}

#transform-translate {
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
#transform-translate:hover {
  -moz-transform: translate(300px, 0) scale(2);
  -webkit-transform: translate(300px, 0) scale(2);
  transform: translate(300px, 0) scale(2);
}


/* ---------- */
/* Gradientes */

#gradient-normal {
  background-image: -moz-linear-gradient(bottom, #00275E, #0A53AA);
  background-image: -webkit-linear-gradient(bottom, #00275E, #0A53AA);
  background-image: linear-gradient(bottom, #00275E, #0A53AA);
}

#gradient-angle{
  background-image: -moz-linear-gradient(45deg, #DD3, #D3D);
  background-image: -webkit-linear-gradient(45deg, #DD3, #D3D);
  background-image: linear-gradient(45deg, #DD3, #D3D);
}


/* -------------------------------------------------------------------------- */
/* ANIMATIONS */

/* Firefox */
@-moz-keyframes background-glow {
  0% {
    margin-left: 20px;
    background: red;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45%, 55% {
    background: green;
    border-radius: 30px;
  }
  40% {
    -moz-transform: scale(0.5) rotate(30deg);
    -webkit-transform: scale(0.5) rotate(30deg);
    transform: scale(0.5) rotate(30deg);
  }
  60% {
    -moz-transform: skewX(10deg) rotate(-30deg);
    -webkit-transform: skewX(10deg) rotate(-30deg);
    transform: skewX(10deg) rotate(-30deg);
  }
  100% {
    margin-left: 400px;
    background: blue;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes background-glow {
  0% {
    margin-left: 20px;
    background: red;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45%, 55% {
    background: green;
    border-radius: 30px;
  }
  40% {
    -moz-transform: scale(0.5) rotate(30deg);
    -webkit-transform: scale(0.5) rotate(30deg);
    transform: scale(0.5) rotate(30deg);
  }
  60% {
    -moz-transform: skewX(10deg) rotate(-30deg);
    -webkit-transform: skewX(10deg) rotate(-30deg);
    transform: skewX(10deg) rotate(-30deg);
  }
  100% {
    margin-left: 400px;
    background: blue;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Todos los navegadores */
@keyframes background-glow {
  0% {
    margin-left: 20px;
    background: red;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  45%, 55% {
    background: green;
    border-radius: 30px;
  }
  40% {
    -moz-transform: scale(0.5) rotate(30deg);
    -webkit-transform: scale(0.5) rotate(30deg);
    transform: scale(0.5) rotate(30deg);
  }
  60% {
    -moz-transform: skewX(10deg) rotate(-30deg);
    -webkit-transform: skewX(10deg) rotate(-30deg);
    transform: skewX(10deg) rotate(-30deg);
  }
  100% {
    margin-left: 400px;
    background: blue;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#anim-normal {
  padding: 20px;
  font-size: 20px;
  -moz-animation: background-glow 3s ease-in-out infinite alternate 0s forwards;
  -webkit-animation: background-glow 3s ease-in-out infinite alternate 0s forwards;
  animation: background-glow 3s ease-in-out infinite alternate 0s forwards;
}

/* Pausar animación: paused | running */
#anim-normal:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}


@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 300px;
    height: 120px;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 300px;
    height: 120px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }

  to {
    opacity: 1;
    width: 300px;
    height: 120px;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
    width: 300px;
    height: 120px;
  }

  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    width: 300px;
    height: 120px;
  }

  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    width: 300px;
    height: 120px;
  }

  to {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

#anim-trigger {
  border-radius: 30px;
}

/* Ver todas las opciones individuales */
.fadeIn {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;

  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;

  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fadeOut {
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;

  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;

  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;

  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */

/* Sólo pantallas medianas: Tablets */
@media (min-width:481px) and (max-width:768px) {
  body {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #333;
  }
  h1, h2, h3 {
    color: black;
    text-shadow: 0 2px 2px black;
  }
}

/* Sólo pantallas pequeñas: Smartphones */
@media (max-width:480px) {
  body {
    font-size: 1.4em;
    line-height: 1.8em;
    color: #444;
  }
  h1, h2, h3 {
    color: black;
    text-shadow: 0 3px 3px black;
  }
}
