/*!
 * PRHONE Amateur | Frontend | HTML5 | Design
 * Romel Pérez, 2014
 **/

/* -------------------------------------------------------------------------- */
/* AESTHETICS */

audio {
  width: 512px;
}

h2 {
  margin-bottom: 16px;
}

.block {
  display: block;
}


/* -------------------------------------------------------------------------- */
/* HTML5 */

#figure img {
  height: 300px;
  border-radius: 10px
}

#microdata img {
  height: 165px;
  border-radius: 6px;
  margin: 2px;
}

#inputtypes fieldset div {
  margin-bottom: 4px;
}

#audcusSeek {
  width: 512px;
  height: 10px;
  border: 1px solid #0CC;
  border-radius: 2px;
}

#audcusLoaded {
  height: 10px;
  background: #0AA;
}

#audcusTimes {
  display: block;
  padding: 2px;
  margin: 0;
  list-style: none;
}

#dragdropFoobar,
#dragdropCatcher {
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

#dragdropFoobar {
  background: blue;
  cursor: move;
}

#dragdropCatcher {
  background: green;
}

#dragdropImg {
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background: #CCC;
}

#webworkerCanvas {
  margin: 2px;
  border: 1px solid #999;
  border-radius: 2px;
}
