<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="pr-container">

  <template>
    <style>
      :host {
        display: inline-block;
        cursor: pointer;
      }
      :host + :host {
        margin-top: 10px;
      }

      .container {
        position: relative;
        display: block;
        min-width: 30px;
        min-height: 30px;
        border: solid 1px #1f596d;
      }

      .inner {
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        background: url(cornersprite.png) no-repeat;
      }
      .inner-tl {
        top: -1px;
        left: -1px;
        background-position: 0 0px;
      }
      .inner-tr {
        top: -1px;
        right: -1px;
        background-position: -14px 0px;
      }
      .inner-bl {
        bottom: -1px;
        left: -1px;
        background-position: -28px 0px;
      }
      .inner-br {
        bottom: -1px;
        right: -1px;
        background-position: -42px 0px;
      }

      .content {
        position: relative;
        margin: 10px;
      }
      .tag {
        display: block;
        float: right;
        font-size: 0.8em;
        color: white;
      }

      .content ::content h3 {
        display: inline-block;
        margin: 0;
      }
      .content ::content a[target="_blank"]:after {
        font-family: "FontAwesome";
        content: " \f08e";
      }
    </style>

    <div class="container">
      <span class="inner inner-tl"></span>
      <span class="inner inner-tr"></span>
      <span class="inner inner-bl"></span>
      <span class="inner inner-br"></span>
      <div class="content">
        <a href="{{link}}" target="{{linktarget}}">
          <h3>{{title}}</h3>
        </a>
        <span class="tag"><i class="fa"></i> <span>{{tag}}</span></span>
        <content></content>
      </div>
    </div>
  </template>

  <script>
    // TODO: add a way to animate container.
    Polymer({
      is: 'pr-container',
      properties: {
        link: String,
        linktarget: String,
        title: String,
        tag: String,
        icon: String
      },
      ready: function () {

        // Icon.
        if (this.icon) {
          this.$$('.tag .fa').classList.add('fa-'+ this.icon);
        } else {
          this.$$('.tag').remove();
        }
      }
    });
  </script>

</dom-module>
